<header>
  <h1>Guest Details</h1>
</header>

<p><strong>Name:</strong> <%= @guest.name %></p>

<% @guest.rooms.each do |room| %>
  <strong>Name: </strong><%= room.suite %>
  <strong>Rate: </strong><%= room.rate %>
  <strong>Hotel Name: </strong><%= room.hotel.name %>
<% end %>

<h2>Add a Room</h2>
<%= form_with url: "/guests/#{@guest.id}/rooms", data: { turbo: false }, local: true do |f| %>
  <%= f.label "Enter room id:" %>
  <%= f.text_field :room_id %>
  <%= f.submit "Submit" %>
<% end %>
